<div class="panel panel-success">
    <div class="panel-heading">
        {{friendsHeading}}
        <collapse-widget has-collapsed="hasCollapsed"></collapse-widget>
    </div>
    <div class="panel-body friends-panel-body" ng-show="!hasCollapsed">
        <ul class="friends-ul">
            <li ng-repeat="friend in personObject.friends" class="friends-li">
                <span class="glyphicon glyphicon-minus-sign pull-left"
                      ng-click="removeFriend($index)"></span>
                <span class="friend-name">{{ friend.name }}</span>
                <input type="checkbox" ng-model="friend.best">
                <!--<span ng-show="!!friend.best" class="pull-right friend-best">Best!</span>-->
            </li>
        </ul>
    </div>
    <div class="panel-footer" ng-show="!hasCollapsed">
        <form name="addFriendForm">
            <div class="form-group">
                <button class="btn btn-success" ng-click="hasABest()">Update Best Friends</button>
                <button class="btn btn-success" ng-click="showForm = !showForm">
                    <span class="glyphicon glyphicon-plus-sign">
                    </span> <span>Add Friend?</span>
                </button>

                    <input type="text"
                           id="add-friend"
                           placeholder="Add A Friend"
                           ng-show="showForm"
                           ng-model="newFriend.name"
                           maxlength="20"
                           required>
                    <input class="btn btn-success"
                           type="button"
                           value="Add"
                           ng-show="showForm"
                           ng-click="addFriend(newFriend.name)"
                           ng-disabled="addFriendForm.$invalid" />
            </div>
        </form>
    </div>

        <div class="panel panel-default has-a-bestfriend" ng-show="hasBest">
            <div class="panel-header">Best Friends
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="bestFriend in personObject.bestFriends">
                            {{ bestFriend.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
