<div class="panel panel-success">
    <div class="panel-heading">
        {{friendsHeading}}
        <collapse-widget has-collapsed="hasCollapsed"></collapse-widget>
    </div>
    <div class="panel-body friends-panel-body" ng-show="!hasCollapsed">
        <show-friends person-object="personObject">
            <remove-friends person-object="personObject"></remove-friends>
        </show-friends>
        <div class="panel-footer" ng-show="!hasCollapsed">
            <form name="addFriendForm" novalidate>
                <div class="form-group">
                    <update-best-friends person-object="personObject"></update-best-friends>
                    <add-friends person-object="personObject" add-friend-form="addFriendForm"></add-friends>
                </div>
            </form>
        </div>
        <show-best-friends person-object="personObject" has-best="{{hasBest}}"></show-best-friends>
    </div>
</div>
